.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;

    &__::after,
    &__::before {
      content: '';
      position: absolute;
      bottom: 24px;
      width: 352px;
      border: 2px solid var(--color-brand-light);
    }

    &__::before {
      left: 0px;
    }

    &__::after {
      right: 0px;
    }
  }
  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
